@using Microsoft.AspNetCore.Mvc.Localization
@using KontrolBulutu.Server.Localization
@inject IHtmlLocalizer<ServerResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
